<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="v.png">
    <title>VRex</title>
    <style>
        body{
            background-color: #343434;
            color:whitesmoke;
        }
       div{
           text-align: center;
           
           padding-top:40vh;
       }
       

    </style>
</head>
<body>
    <div>
        <h1> You left the meeting room</h1>
    </div>
   
</body>
</html>